<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Currencies</th>
      <th scope="col">Exchange Rate</th>
    </tr>
  </thead>
  <tbody>

    {% for exchange_rate in exchange_rates %}

        <tr>
          <th scope="row">{{ exchange_rate.currencies|upper }}</th>
          <td>{{ exchange_rate.last_price }}</td>
        </tr>

    {% endfor %}

  </tbody>
</table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
{% endblock %}